@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}
body{
    background-image: url(Image/fond.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}

h3{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 2px;
    transition: transform 0.5s ease-in-out
}
nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a h3:hover{
    transform: scale(1.2);
    color: #e70e0e;
}

h2{
    display: flex;
    justify-content: left;
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 2px;
    transition: transform 0.5s ease-in-out
}


main{
    position: absolute;
    top: 0;  
    margin-left: 40px;                       
    display: flex;      
    flex-wrap: wrap;    
    gap: 40px; 

}

main a h2:hover{
    transform: scale(1.2);
    color: #e70e0e;
}


form{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.596);
    padding: 30px;
    width: 500px;
    height: 350px;
    border-radius: 15px;
}
form h1{
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
}
form .separation{
    width: 100%;
    height: 1px;
    background-color: black;
}
form .corps-formulaire{
    display:flex;
    flex-wrap:wrap;
    margin-bottom: 30px;
}
img{
    height: 20px;
    width: 20px;
    padding-top: 46px;
    padding-right: 10px;
    left: 0;
    top: 25px;
}
.groupe{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #383838;
    outline-color: #1f1f1f;
    border-radius: 5px;
    background-color: #383838;
    color: #fff;
    letter-spacing: 0.8px;
}
form .pied-formulaire{
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}
form button{
    background-color: #383838;
    color: white;
    font-family: "Luckiest Guy", serif;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.icon{
    display: flex;
    flex-direction: row-reverse;
    color: white;
}
textarea{
    outline-color: #383838;
    border-radius: 6px;
    border: 1px solid #383838;
    margin-top: 5px;   
    resize: none;
    height: 161px;
    width: 250px;
    background-color: #383838;
    color: #fff;
    margin-left: -15px;
}
.droite{
    margin-left: 25px
}
.droite .groupe label{
    color: #fff;
}

@media (max-width: 768px) {
    h3 {
        font-size: 35px;
        margin-top: 20px;
        justify-content: center;
    }

    main {
        position: relative;
        top: auto;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    main a h2 {
        font-size: 28px;
        margin: 0;
        justify-content: center;
    }

    form {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 90%;
        margin: 0 auto 50px auto;
        padding: 20px;
    }

    form .corps-formulaire {
        flex-direction: column;
    }

    .icon {
        flex-direction: row;
        width: 100%;
        margin-top: 10px;
    }

    .groupe {
        align-items: flex-start;
        width: 100%;
    }

    .gauche, .droite, input, textarea, button {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
    }

    .droite {
        margin-top: 15px;
    }

    textarea {
        margin-left: 0;
    }

    .icon img {
        display: none;
    }

    form .pied-formulaire {
        margin-top: 25px;
        transform: none;
        text-align: center;
    }

    button {
        padding: 12px;
        font-size: 16px;
    }
}