@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
body{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    background: url(Image/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1320px;
    font-family: "Luckiest Guy", serif;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 2px;
}

form{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.596);
    padding: 30px;
    width: 500px;
    height: 350px;
    border-radius: 15px;
}
form h1{
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
}
form .separation{
    width: 100%;
    height: 1px;
    background-color: black;
}
form .corps-formulaire{
    display:flex;
    flex-wrap:wrap;
    margin-bottom: 30px;
}
img{
    height: 20px;
    width: 20px;
    padding-top: 46px;
    padding-right: 10px;
    left: 0;
    top: 25px;
}
.groupe{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
input{
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #383838;
    outline-color: #1f1f1f;
    border-radius: 5px;
    background-color: #383838;
    color: #fff;
    letter-spacing: 0.8px;
}
form .pied-formulaire{
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 20px;
}
form button{
    background-color: #383838;
    color: white;
    font-family: "Luckiest Guy", serif;
    font-size: 18px;
    letter-spacing: 0.5px;
}
.icon{
    display: flex;
    flex-direction: row-reverse;
    color: white;
}
textarea{
    outline-color: #383838;
    border-radius: 6px;
    border: 1px solid #383838;
    margin-top: 5px;   
    resize: none;
    height: 161px;
    width: 250px;
    background-color: #383838;
    color: #fff;
    margin-left: -15px;
}
.droite{
    margin-left: 25px
}
.droite .groupe label{
    color: #fff;
}
