@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}

body{
    background-image: url(Image/fond.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 2px;
    transition: transform 0.5s ease-in-out
}

nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a h1:hover{
    transform: scale(1.2);
    color: #e70e0e;
}

h2{
    display: flex;
    justify-content: left;
    font-size: 20px;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 2px;
    transition: transform 0.5s ease-in-out
}

main{
    position: absolute; 
    top: 0;             
    margin-left: 40px;           
    display: flex;      
    flex-wrap: wrap;    
    gap: 40px;            
}

main a h2:hover{
    transform: scale(1.2);
    color: #e70e0e;

}

.film {
    display: grid;
    grid-template-columns: repeat(5, max-content); 
    grid-auto-rows: auto;                           
    gap: 25px 55px;                                   
    justify-content: center;                        
    justify-items: center;                          
    align-items: center;
    margin-top: 60px;

}

.image-film img {
    height: auto;
    display: block;
    border-radius: 8px; 
    transition: transform 0.5s ease-in-out;
    
    
}

.image-film img:hover{
    transform: scale(1.2);
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
        margin-top: 20px;
        justify-content: center;
    }

    main {
        position: relative;
        top: auto;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 40px;
        margin-top: 20px;
    }

    main a h2 {
        font-size: 28px;
        margin: 0;
        justify-content: center;
    }

    .film {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: 0;
        padding: 0 15px;
    }

    .image-film img {
        width: 100%;
    }
}