@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}

body{
    background-image: url(Image/fond.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 2px;
    transition: transform 0.5s ease-in-out
}

nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a h1:hover{
    transform: scale(1.2);
    color: #e70e0e;
}

h2{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-top: 120px;
    transition: transform 0.5s ease-in-out
}

main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main a{
    height: 300px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 150px 25px 0px 25px;
    transition: transform 1s ease-in-out
}

main a h2:hover{
    transform: scale(1.2);
    color: #e70e0e;
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
        margin-top: 20px;
    }

    main {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    main a {
        width: 90%;
        height: auto;
        margin: 20px 0;
        padding: 30px 0;
    }

    h2 {
        font-size: 28px;
        margin: 0;
    }
}





