@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
}
body{
    background-image: url(Image_1/fond.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1080px;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    margin-top: 30px;
    letter-spacing: 2px;
}



